@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-11-20 22:13:15
 * @version $Id$
 */
*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
fieldset{
	border:1px solid #d8d8d8;
	margin-top:3em;
}
#cartaddress{
	width:80%;
	margin:2em auto;
}
legend{
	text-align: center;
	margin-left: 50%;
}
.addresses{
	padding:2em 2em;
}
.addresses li{
	float:left;
	margin-left:2.5em;
	margin-bottom:1.5em;
	padding: 0.8em;
	width:25%;
	height:8em;
	border:1px solid #d8d8d8;
	position: relative;
}
.addresses li:hover{
	border: 1px solid #F25E0F;
}
.addresses li .add{
	width:3em;
	height:3em;
	margin:13% auto;
	background: url("/static/img/icon/add.png");
}
.addresses li .add:hover{
	background: url("/static/img/icon/add1.png");
}
.detailAddress{
	display: flex;
}
.addresses li .left{
	flex:0 0 90%;
}
.addresses li .left p{
	margin-top:0.6em;
}
.addresses li .right{
	flex:0 0 10%; 
}
.edit{
	width:1.5em;
	height:1.5em;
	position: absolute;
	top:1.4em;
	background: url("/static/img/icon/edit.png");
}
.edit:hover{
	background: url("/static/img/icon/edit1.png");
}
.del{
	width:1.5em;
	height:1.5em;
	position: absolute;
	bottom:0.8em;
	background: url("/static/img/icon/delete.png");
}
.del:hover{
	background: url("/static/img/icon/delete1.png");
}
.more{
	color:#d81e06;
	text-align: center;
	margin-bottom: 1em;
}
.addresses::after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}
.more span{
	width: 1.5em;
	height:1.5em;
	position: absolute;
	margin-left:0.6em;
	background: url("/static/img/icon/down.png");
}
.more .load{
	background: url("/static/img/icon/up.png");
}
.ways{
	padding:1.5em;
	width:30em;
	margin:0 auto;
}
.ways li{
	display: inline-block;
	width:12em;
	height:3.5em;
	border:1px solid #d8d8d8;
	padding: 0.5em;
	margin-left:1.5em;
	text-align: center;
}
.ways li:hover{
	border:1px solid #F25E0F;
}
.ways li:hover p{
	color:black;
}
.ways li p{
	margin-top:0.4em;
	color: #999;
}
.ways .selectWay{
	border:1px solid #F25E0F;
}
.ways .selectWay p{
	color: black;
}
.addresses .selected{
	border-color:#F25E0F;
}
.selectEdit{
	background: url("/static/img/icon/edit1.png");
}
.selectDel{
	background: url("/static/img/icon/delete1.png");
}
.addresses li .left .default{
	cursor: pointer;
	margin-top: 1.4em;
}
.default:hover{
	color: #F25E0F;
}
.selectDef{
	color:#F25E0F;
}
